.bgGray {
    background-color: #ddd;
}

.bgWhite {
    background-color: #fff;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ccc;
    padding: 15px;
}

.cardTitle {
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    position: relative;
}


.cardTitleOpen {
    font-size: 15px;
    padding: 10px 0px;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    position: relative;
}
.cardTitleOpen span{
    right: 0;
    position: absolute;
}

.cardTitle img {
    margin-right: 10px;
    width: 15px;
}

.cardTitle:after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../../../public/assets/images/blockArrowDown.svg);
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
}

.cardCloseBtn {
    position: absolute;
    left: 18px;
    top: 12px;
}

.panelTitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.routeBg {
    background-image: url(../../../public/assets/images/route-bg.png);
    width: calc(100% + 52px);
    height: 250px;
    margin: -26px -26px 10px;
}

.eventBox {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;


}

.eventBoxBorder {
    border-bottom: 1.9px dotted #ccc;
    padding-bottom: 10px;
}

.eventBox span {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}

.eventBox h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
}

.themeLink {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    align-items: center;
    color: #303030;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}

.eventBoxOuter {
    margin-top: -80px;
}

.categoryName {
    width: max-content;
    padding: 0 10px;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    background-color: #fff;
}

.descText {
    border-bottom: 1.9px dotted #ccc;
    padding-bottom: 13px;
}

.checkpointOuter {
    height: 235px;
    overflow-y: auto;
}

.checkpointOuter::-webkit-scrollbar {
    width: 5px;
}
