.primaryStyle {
  position: relative;
  background: #f4f4f4 !important;
  padding: 26px;
  width: 375px;
  height: 781px;
  overflow: hidden;
}

.close {
  position: absolute !important;
  left: 15px !important;
  top: 15px;
  height: 40px;
  width: 40px;
  z-index: 99;
}

.header {
  position: absolute;
  right: 18px;
}

.cardCloseBtn {
  position: absolute;
  left: 18px;
  top: 12px;
}

.panelTitle {
  font-size: 20px;
}

.detailbox .userImg {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.detailbox h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 12px;
}

.detailbox p {
  margin-top: 20px;
  font-size: 16px;
}

.type {
  background: #6c7c57;
  border-radius: 4px;
  margin-right: 8px;
  color: #ffffff;
  font-size: 12px;
  padding: 1px 8px;
  width: max-content;
  font-weight: bold;
}

.flag {
  width: 19px;
  height: 14px;
}

.country {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 7px;
}

.themeLink {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  color: #303030;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.grayBox {
  background: #f4f4f4;
  margin: 0 -26px;
  padding: 40px 20px;
  letter-spacing: 0.03em;
  overflow-y: auto;
  height: 385px;
}

.grayBox h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.eventBox {
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
  margin-right: 20px;
  min-width: 300px;
}

.eventBox span {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.eventBox h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.eventBoxOuter {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* width */
.eventBoxOuter::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
.eventBoxOuter::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.eventBoxOuter::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.eventBoxOuter::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grayBox::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 480px) {
  .primaryStyle {
    width: 100%;
    padding: 15px;
  }
}
.buttonStore {
  height: 44px;
  width: 295px;
  left: 0px;
  top: 24px;
  border-radius: 4px;
  border: 1px solid #303030;
  padding: 16px, 24px, 16px, 24px;
  background-color: #ffffff;
  text-decoration: none;
  color: #303030;
  font-family: Arctic Fox !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
