/* fontface */
@font-face {
    font-family: 'Arctic Fox';
    src: url('/assets/fonts/ArcticFox-Bold.woff2') format('woff2'),
    url('/assets/fonts/ArcticFox-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arctic Fox';
    src: url('/assets/fonts/ArcticFox-Italic.woff2') format('woff2'),
    url('/assets/fonts/ArcticFox-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arctic Fox';
    src: url('/assets/fonts/ArcticFox-Regular.woff2') format('woff2'),
    url('/assets/fonts/ArcticFox-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arctic Fox Headline';
    src: url('/assets/fonts/ArcticFox-Headline.woff2') format('woff2'),
    url('/assets/fonts/ArcticFox-Headline.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: icons;
    font-display: swap;
    src: url('/assets/fonts/iconfont.eot');
    src: url('/assets/fonts/iconfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/iconfont.woff') format("woff"), url('/assets/fonts/iconfont.ttf') format("truetype")
}

@font-face {
    font-family: fenix-icons;
    src: url("/assets/fonts/fenix-icons.eot?gievpp");
    src: url("/assets/fonts/fenix-icons.eot?gievpp#iefix") format("embedded-opentype"), url("/assets/fonts/fenix-icons.ttf?gievpp") format("truetype"), url("/assets/fonts/fenix-icons.woff?gievpp") format("woff"), url("/assets/fonts/fenix-icons.svg?gievpp#fenix-icons") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block
}
