.cardAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    align-self: stretch;
    padding: 24px;
    background: #fff;
    position: relative;
    margin-bottom: 5px;
}

.cardTitle, .cardTitle a {
    font-family: 'Arctic Fox';
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #303030;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.goToEvent:hover, .cardTitle a:hover {
    color: #cc1618;
    text-decoration: none;
}

.goToEvent:hover svg {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
}

.goToEvent svg {
    fill: #B93228;
    stroke: #B93228;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}
@media (max-width: 786px) {
    .title {
        margin-top: 64px;
    }
}

.cardDescription {
    font-family: 'Arctic Fox';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #303030;
    margin-top: 16px;
    margin-bottom: 24px;
    height: auto;
}

.tagText {
    font-family: 'Arctic Fox';
    font-style: normal;
    margin-left: 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    letter-spacing: 0.02em;
    color: #303030;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
}

.flagImg {
    vertical-align: sub;
}

.addresCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 16px;

}

.chevronRightIcon {
    margin-left: 13px;
    margin-top: -5px;
}

.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 12px;
    background-color: #6C7C57;
    border-radius: 4px;
    padding: 1px 10px;
    margin-right: 5px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.tag>span {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 127%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.sustainability {
    background-color: #6C7C57;
}

.adventure {
    background-color: #CC9854;
}
.guide {
    background-color: #2F5473;
}

.testingsection {
    font-size: 50px;
    margin-left: 50px;
}

.goToEvent {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #303030;
    background-color: #FFFFFF;
    width: 100%;
    align-items: center;
}

.goToEvent svg {
    stroke: #B93228;
}

.FeatureCard {
    border-radius: 4px;
    height: 100%;
    background: #fff;

}

.cardBackgroundImage {
    max-height: 261px;
    width: 100%;
    display: flex;
    flex-direction: Column;
    align-items: baseline;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    min-height: 250px;
    object-fit: cover;
}
.FeatureCard:hover .cardBackgroundImage img {
    transform: scale(1.05);
}
.cardBackgroundImage>img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    transition: transform .5s ease-in-out,
    -webkit-transform .5s ease-in-out;
}
.cardBackgroundImage img {
    max-width: 100%;
    width: 100%;
    transition: transform .5s ease-in-out,
    -webkit-transform .5s ease-in-out;
}

.cardBackgroundImage a {
    min-height: 230px;
    overflow: hidden;
}

.cardBackgroundImage a img {
    max-width: 100%;
    width: 100%;
    transition: transform .5s ease-in-out,
    -webkit-transform .5s ease-in-out;
    min-height: 250px;
}