.pageListHeader {
 text-align: center;
 padding: 40px 0px;
}
.pageListHeader h2 {
    font-weight: 900;
    font-size: 34px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-family: 'Arctic Fox Headline';
}
.pageListHeader.noTopPadding {
    padding-top: 0px;
}
.pageListHeader p {
    font-size: 20px;
    margin-bottom: 30px;
}
.heroSection{
    margin-bottom: 20px;
    background: #555239;
    position: relative;
}
.heroSection > img {
    max-height: 430px;
    -webkit-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.breadcrumbContent{
    top: 0;
}
.bannerContent{
    top: 0;
    bottom: 0;
    height: max-content;
    left: 0;
    color: #fff;
    z-index: 9;
    margin: auto!important;
}
.whiteDropdown button{
    background-color: #fff !important;
    height: 44px;
}

.dropdownHeader{
    color: #000 !important;
    font-weight: bold !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

}

.whiteDropdown button img{width: 13px;}
.pageListHeader input {
    padding: 16px 12px;
    width: 301px;
    height: 44px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: none;
    background-image: url("../../public/assets/images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 0px 20px 0px 40px;
    outline: none;
}
.justifyContentLeftMobile{}
.searchFilterContainer{
    margin-right: 10px;
}
.heroFooterContainer{
    max-width: 300px;
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 12px;
    background-color: #6C7C57;
    border-radius: 4px;
    padding: 1px 10px;
    margin-right: 5px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.tag>span {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 127%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.tagText {
    font-family: 'Arctic Fox';
    font-style: normal;
    margin-left: 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}
.sustainability {
    background-color: #6C7C57;
}

.adventure {
    background-color: #CC9854;
}
.guide {
    background-color: #2F5473;
}

@media(max-width:767px) {
    .heroSection > img {
        height: 420px;
    }
    .justifyContentLeftMobile{
        justify-content: left !important;
    }
    .bannerContent{
        top: 60px;
    }
    .searchBox {
        margin-bottom: 15px;
        width: 100% !important;
        max-width: 100%;
    }
    .searchFilterContainer{
        width: 100% !important;
    }
    .pageListHeader {
        padding: 77px 0px 20px;
    }
}
@media(max-width:480px){
    .searchBox {
        margin-bottom: 15px;
        width: 100% !important;
        max-width: 100%;
    }
    .searchFilterContainer{
        width: 100% !important;
    }
    .pageListHeader {
            padding: 77px 0px 20px;
    }
}
