.cardBackgroundImage {
  position: relative;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  min-height: 230px;
  background: #fff;
}

.FeatureCard:hover .cardBackgroundImage img {
  transform: scale(1.05);
}

.cardBackgroundImage img {
  max-width: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.cardBackgroundImage a {
  min-height: 230px;
  overflow: hidden;
}

.cardBackgroundImage a img {
  max-width: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  max-height: 300px;
}

.cardTitle,
.cardTitle a {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #212529;
}

.cardTitle a:hover {
  text-decoration: none;
}

.cardTitle img {
  margin-right: 10px;
  margin-top: -5px;
}

.cardDescription {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #303030;
  margin-top: 16px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 116px;
}

.addresCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 16px;
}

.addresCard img {
  vertical-align: baseline;
}

.sustainability {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-size: 12px;
  position: absolute;
  background-color: #6c7c57;
  border-radius: 4px;
  padding: 1px 10px;
  bottom: 8%;
  left: 20px;
}

.sustainability > span {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.goToEvent {
  display: flex;
  flex-direction: row;
  padding: 0;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #303030;
  background-color: #ffffff;
  align-items: center;
}

.goToEvent:hover {
  color: #cc1618;
  text-decoration: none;
}

.goToEvent:hover svg {
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}

.goToEvent svg {
  fill: #b93228;
  stroke: #b93228;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.cardAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  align-self: stretch;
  margin: 0;
  background: #fff;
  padding: 20px;
  min-height: 285px;
}

.cardAbout button {
  border: none !important;
  opacity: 1 !important;
}

.location {
  color: #303030;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
}
.datetim {
  position: absolute;
  top: 34px;
  padding-left: 28px;
  color: #303030;
  font-size: 12px;
  line-height: 20px;
}

.chevronRightIcon {
  margin-left: 13px;
  margin-top: -5px;
}

.FeatureCard {
  margin-bottom: 30px;
}

.goToEvent {
  /* position: relative;
  top: 24px; */
  padding-top: 15px;
  /* padding: 2px; */
  border: none;
  padding-bottom: 24px;
  background: transparent !important;
}

.fixedCardBottom {
  position: absolute;
  bottom: 0px;
  border-top: 2px dotted #ccc;
  width: 83%;
}
