.links a {
  display: block;
  color: #303030;
  font-size: 14px;
  text-transform: capitalize;
}
.links {
  margin-bottom: 15px;
}
.links a svg {
  margin: 10px 9px 0 0px;
  vertical-align: bottom;
  width: 20px;
  fill: #959595;
}
.links a:hover {
  color: #cc1618;
}
.pageFooter {
  background: #e1e1e1;
  padding: 80px 0px 50px;
}

.pageFooter h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.storeLocator svg {
  fill: #303030 !important;
}
.track {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .pageFooter {
    padding: 30px 0px 20px;
  }
}


