.pageListHeader {
  text-align: center;
  padding: 80px 0px;
}
.pageListHeader h2 {
  font-size: 34px;
  line-height: 34px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Arctic Fox Headline';
  color: #303030;
  padding-bottom: 0;
}
.pageListHeader.noTopPadding {
  padding-top: 0px;
}
.pageListHeader p {
  font-size: inherit;
  margin-bottom: 30px;
  line-height: 26px;
  color: #fff;
}
.heroSection {
  margin-bottom: 48px;
  background: #555239;
  position: relative;
}
.heroSection > img {
  max-height: 430px;
  -webkit-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 430px;
}
.breadcrumbContent {
  top: 0;
}
.bannerContent {
  top: 0;
  bottom: 0;
  height: max-content;
  left: 0;
  color: #fff;
  z-index: 9;
  margin: auto !important;
}
.whiteDropdown button {
  background-color: #fff !important;
  height: 44px;
  text-transform: uppercase;
}

.dropdownHeader {
  color: #000 !important;
  font-weight: bold !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.whiteDropdown button img {
  width: 13px;
}
.pageListHeader input {
  padding: 16px 12px;
  width: 301px;
  height: 44px;
  background-color: #ffffff;
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: none;
  background-image: url('../../public/assets/images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 0px 20px 0px 40px;
  outline: none;
}

input[type='text'].search-filter-input::-webkit-input-placeholder {
  color: #d2d2d2 !important;
}

.justifyContentLeftMobile {
}
.searchFilterContainer {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .heroSection > img {
    max-height: 267px;
  }
  .justifyContentLeftMobile {
    justify-content: left !important;
  }
  .bannerContent {
    top: 60px;
  }
  .searchBox {
    margin-bottom: 15px;
    width: 100% !important;
    max-width: 100%;
  }
  .searchFilterContainer {
    width: 100% !important;
    margin-right: 0;
    margin-top: 10px;
  }
  .pageListHeader {
    padding: 77px 0px 20px;
  }
  .search-filter{
    margin-right: 0 !important;
  }
}
@media (max-width: 480px) {
  .searchBox {
    margin-bottom: 15px;
    width: 100% !important;
    max-width: 100%;
  }
  .searchFilterContainer {
    width: 100% !important;
  }
  .pageListHeader {
    padding: 77px 0px 20px;
  }
  .search-filter{
    margin-right: 0 !important;
  }
}
@media (max-width: 380px) {
  .pageListHeader h2 {
    padding-bottom: 10px;
    padding-top: 25px;
  }
}
