.topBanner img {
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
    max-height: 410px;
    width: 100%;
}

.backArrow {
    position: absolute;
    top: 50px;
    left: 50px;
    /* width: 40px;
    height: 40px; */
}

@media (max-width: 480px) {
    .backArrow {
        top: 15px;
        left: 15px;
    }
}

.breadcrumbContent {
    top: 0;
    
}
