.sustainability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-size: 12px;
  padding: 1px 8px;
  background-color: #6c7c57;
  border-radius: 4px;
  padding: 1px 10px;
  margin-right: 5px;
}
.guideName {
  text-transform: uppercase;
}

.sustainability > span {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.location {
  color: #303030;
  font-family: 'Arctic Fox';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  margin-left: 8px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  font-size: 12px;
  color: #303030;
  align-items: center;
  border-radius: 4px;
}

.flagImg {
  vertical-align: sub;
}
.cardDescription {
  font-size: 16px;
  margin-top: 30px;
}
.peopleImg {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 5px solid #fff;
  border: 5px solid #f4f4f4;
  margin-top: -70px;
  margin-bottom: 20px;
}
.title {
  padding-top: 100px;
}
.socialmedia1,
.socialmedia2 {
  margin-left: 8px;
}
