/* Wrapping */
.TooltipWrapper {
    display: inline-block;
    position: relative;
    width: 100%;
}

/* Absolute positioning */
.TooltipTip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: #fff;
    background: #fff;
    font-size: 14px;
    line-height: 1;
    z-index: 100;
    width: 218px;
    min-height: 88px;
    text-align: left;
    background: url("/assets/images/RectangleArrowRight.svg") no-repeat;
    background-size: cover;
    padding-left: 34px;
    padding-top: 13px;
    padding-bottom: 0px;
}

.TooltipDescription {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.07em;
    color: #303030;
}
.TooltipTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #303030;
    margin-bottom: 0;
}

/* CSS border triangles */
/*.TooltipTip::before {*/
/*    content: " ";*/
/*    left: 50%;*/
/*    border: solid transparent;*/
/*    height: 0;*/
/*    width: 0;*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*    border-width: 52px;*/
/*    margin-left: calc(6px * -1);*/
/*}*/

/* Absolute positioning */
.TooltipTip.top {
    top: calc(30px * -1);
}
/* CSS border triangles */
.TooltipTip.top::before {
    top: 100%;
    border-top-color: #fff;
}

/* Absolute positioning */
.TooltipTip.right {
    left: calc(100% + 37px);
    top: 50%;
    transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.TooltipTip.right::before {
    left: calc(6px * -16);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: #fff;
}

/* Absolute positioning */
.TooltipTip.bottom {
    bottom: calc(30px * -1);
}
/* CSS border triangles */
.TooltipTip.bottom::before {
    bottom: 100%;
    border-bottom-color: #fff;
}

/* Absolute positioning */
.TooltipTip.left {
    left: auto;
    right: calc(100% + 30px);
    top: 50%;
    transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.TooltipTip.left::before {
    left: auto;
    right: calc(6px * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: #fff;
}
