.title {
  font-family: 'Arctic Fox Headline';
  font-weight: 900;
  font-style: normal;
  text-align: center;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 34px;
  color: #303030;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .title {
    font-size: 34px;
    margin-right: -15px;
    margin-top: 64px;
    padding: 0px 11px;
  }
}
@media (max-width: 600px) {
  .subTitle {
    /* display: none !important; */
    /* position: relative;
    left: 5px;
    width: 300px; */
    padding-left: 28px;
    padding-right: 20px;
  }
}
.subTitle {
  font-family: 'Arctic Fox';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.001em;
  color: #303030;
  border-radius: 4px;
  align-self: stretch;
  margin-top: 28px;
  margin-bottom: 10px;
}
