.communityUpdateSection{
    padding-bottom: 60px;
}
.communityUpdateSection img{
    width: 100%;
}
.bigImage{
    height: calc(100% - 15px);
    max-height: 542px;
    object-fit: cover;
}
@media (max-width:480px){
.bigImage {
    margin-top: 15px;
}
}
.imageBlocks a{
    border-radius: 5px;
}