.title {
    font-family: 'Arctic Fox Headline';
    font-weight: 900;
    font-style: normal;
    text-align: center;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 34px;
    color: #303030;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .title {
        font-size: 34px;
        margin-bottom: 40px;
        margin-right: -15px;
        padding: 0px 11px;
    }
    .subTitle{
        display: none !important;
    }
    .FeatureCard {
        margin-right: 10px !important;
    }
}

.subTitle {
    font-family: 'Arctic Fox';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 24px;
    color: #303030;
    border-radius: 4px;
    align-self: stretch;
    margin: 24px 0px;
    margin-bottom: 40px;
}

.cardAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    align-self: stretch;
    margin: 0;
    background: #fff;
    padding: 20px;
}

.cardTitle, .cardTitle a {
    font-family: 'Arctic Fox';
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #303030;
}
.cardTitle img {
    margin-right: 10px;
}

.cardDescription {
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #303030;
    margin-top: 16px;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.location {
    color: #303030;
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;

}

.addresCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-top: 16px;
}

.addresCard img {
    vertical-align: baseline;
}

.chevronRightIcon {
    margin-left: 13px;
    margin-top: -5px;
}

.sustainability {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 12px;
    position: absolute;
    background-color: #6C7C57;
    border-radius: 4px;
    padding: 1px 10px;
    bottom: 8%;
    left: 20px;
}

.sustainability > span {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.testingsection {
    font-size: 50px;
    margin-left: 50px;
}

.goToEvent {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #303030;
    background-color: #FFFFFF;
    align-items: center;
}

.goToEvent svg {
    fill: #B93228;
    stroke: #B93228;
}

.FeatureCard {
    margin: 0 5px;
    border-radius: 4px;
    height: 100%;
    background: #fff;
    margin-right: 16px;
    margin-bottom: 57px;
}
.FeatureCard:hover .cardBackgroundImage img {
    transform: scale(1.05);
}
.cardBackgroundImage {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: Column;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.cardBackgroundImage img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out,
    -webkit-transform .5s ease-in-out;
}


.footerButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 4px;
    justify-self: center;
    margin: auto;
}

.footerButton > a {
    width: 177px;
    height: 44px;
    display: flex;
    justify-content: center;
}

.SliderMargin {
    padding-left: 0%;
    /*margin-left: -15px;*/
    margin-right: -15px;
}

.SliderMargin ul{
    padding-left: 5px;
}

.SliderMargin button {
    background: rgb(255 255 255) !important;
    border: 1px solid #ccc;
}

.SliderMargin button:before {
    color: #000;
}

.SliderMargin button:hover {
    opacity: 0.6;
}

.cardAbout button {
    border: none !important;
    opacity: 1 !important;
}
@media(max-width:768px) {

}
@media(max-width:480px){
    .SliderMargin {
        padding-left: 0%;
    }
}
.goToEvent:hover {
    color: #cc1618;
    text-decoration: none;
}

.goToEvent:hover svg {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
}

.goToEvent svg {
    fill: #B93228;
    stroke: #B93228;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}
.goToEvent{
    padding: 2px;
    border: none;
    padding-bottom: 24px;
    background: transparent !important;
}
.fixedCardBottom{
    position: absolute;
    bottom: 0px;
    border-top: 2px dotted #ccc;
    width: 83%;
}
