.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  align-items: stretch !important;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
  }
}

.cardBody {
  width: 50%;
  background-color: #e5e5e4;
  text-align: center;
}

@media (max-width: 786px) {
  .cardBody {
    width: 100%;
    height: 370px;
  }
}

.cardTitle {
  padding-top: 24px;
  font-weight: bold;
  font-family: 'Arctic Fox';
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #303030;
  border-radius: 4px;
  margin-bottom: 24px;
  justify-content: center;
}
/* .card img {
  width: 50px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  cursor: pointer;
  position: absolute;
  right: 1%;
} */
.modalArrow {
  width: 50px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  cursor: pointer;

  margin-top: 18px;
  margin-right: 20px;
  height: 18.23910140991211px;
  position: absolute;
  right:60px;
}
@media screen and (min-device-width: 1201px) and (max-device-width: 2500px) {
  .modalArrow {
    position: absolute;
    right: 60px;
  }
}
.modalArrow:hover {
  transition: 0.1s ease-in-out;
  transform: translateX(50%);
  transition: 1s ease-out;
}

.modal_Arrow {
  width: 50px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  cursor: pointer;
  position: absolute;
  margin-top: 18px;
  margin-right: 20px;
  height: 18.23910140991211px;
  position: absolute;
  right: 15px;
}
.modal_Arrow:hover {
  transition: 0.1s ease-in-out;
  transform: translateX(50%);
  transition: 1s ease-out;
}
@media (max-width: 768px) {
  .modal_Arrow:hover {
    transition: 0.1s ease-in-out;
    transform: translateX(90%);
    transition: 1s ease-out;
  }
}
.cardImgTop {
  background-image: url('/assets/images/sectionThree/sectionthreebackgoundimage.svg');
  width: 50%;
  background-size: cover;
  border-radius: 5px 0px 0px 5px;
}

.cardButton {
  max-width: 100%;
  background: transparent !important;
  padding: 0 15px 0 0px !important;
  border: 1px solid #303030 !important;
  border-radius: 100px;
  width: max-content;
  height: 30px;
}

.cardButton img {
  margin: 0 2px 0 3px;
  width: 25px;
}

.cardBody .cardText {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Arctic Fox';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #303030;
  border-radius: 4px;
  justify-content: center;
}

@media (max-width: 768px) {
  .cardText {
    /* max-width:300px; */
    display: flex;
    justify-content: center;
  }
}

.cardCloseBtn {
  position: absolute;
  right: 10px;
  width: 20px;
  top: 5px;
  text-align: right;
}

.cardCloseBtn img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .cardBody {
    padding: 0.5em 1.2em;
  }

  .cardBody .cardText {
    /* margin: 0; */
  }

  .card img {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .card img {
    width: 18px;
    position: absolute;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 300px) {
  .card img {
    position: absolute;
    right: 55px;
  }
}
/* @media only screen and (max-width:1100px) and  (min-width: 750px) {
  .card img {
right: 54px;
    
  }
  
} */
.condition {
  width: 391px;
  height: 60px;
  font-family: 'Arctic Fox';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
  border-radius: 4px;
  text-align: left;
  margin-left: 12px;
}

@media (max-width: 786px) {
  .condition {
    width: 259px;
    padding-top: 40px;
  }
}

.emailSection {
  width: 100%;
  /* height: 56px; */
  background-color: #f4f4f4;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: 'Arctic Fox';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0 16px;
  margin-bottom: 0;
}
.emailSection::placeholder {
  color: #000;
  opacity: 0.6;
}

.emailInput {
  display: flex;
  background-color: #f4f4f4;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #e8e7e6;
  margin-top: 16px;
}

@media (max-width: 786px) {
  .emailInput {
    /* width:295px; */
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.terms {
  display: flex;
  margin-top: 16px;
}

@media (max-width: 786px) {
  .terms {
  }
  .RightArrow {
    /* margin-left: 30px;
      margin-right: 0px; */
    margin-top: 19px;
    margin-right: 16px;
    height: 18.23910140991211px;
    width: 18px;
  }
}

.RightArrow {
  /* margin-left: 30px;
    margin-right: 0px; */

  margin-top: 18px;
  margin-right: 20px;
  height: 18.23910140991211px;
  width: 17px;
  cursor: pointer;
}
.RightArrow:hover {
  transition: 0.3s ease-in-out;
  transform: translateX(1%);
}

.checkBox {
  width: 24px;
  height: 24px;
}

@media (max-width: 786px) {
  .cardImgTop {
    /* width:343px;
        height:250px; */
    justify-content: center;
    max-width: 100%;
    height: 250px;
    width: 100%;
  }
}

.checkboxDiv {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: break-spaces;
}

/* Hide the browser's default checkbox */
.checkboxDiv input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
.checkboxDiv:hover input ~ .checkMark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxDiv input:checked ~ .checkMark {
  background-color: #000;
}

/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkMark when checked */
.checkboxDiv input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkMark/indicator */
.checkboxDiv .checkMark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.formBox {
  max-width: 400px;
  margin: 0 auto;
}

.checkboxDiv a {
  color: #000000;
  text-decoration: underline;
}
