.innerLayout{
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template: repeat(1,1fr) / repeat(1,1fr);
    grid-template-areas: 'ft';
}
.viewPanelActive{
    grid-template-columns: 1fr 375px;
    grid-template-rows: 1fr;
    grid-template-areas: 'ft tl';
    max-width: 100vw;
    padding-right: 0;
}
.innerMapContainer{

}
@media(max-width:480px){
    .viewPanelActive {
            grid-template-columns: 1fr 100%;
    }

}
.filterButton{
    display: none;
}
@media screen and (max-width: 600px) {
    .filterButton{
        display: block;
    }
}
