.title {
    font-family: 'Arctic Fox Headline';
    font-weight: 900;
    font-style: normal;
    text-align: center;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 34px;
    color: #303030;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .title {
        font-size: 34px;
        margin-bottom: 48px;
    }
    .subTitle{
        display: none !important;
    }
}

.subTitle {
    font-family: 'Arctic Fox';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 24px;
    color: #303030;
    border-radius: 4px;
    align-self: stretch;
    margin: 24px 0px;
    margin-bottom: 40px;
}
