.noticeSection{max-width: 800px;margin:0 auto;}
.noticeSection h2{
    font-style: italic;
    font-weight: normal;
    font-size: 34px;
    letter-spacing: -0.01em;
}
.noticeSection p{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    max-width: 473px;
    margin: 100px auto 0;
}