.communityUpdateSection {
    padding-bottom: 0px;
}

.communityUpdateSection img {
    /* width: 100%; */
    width: 392px;
  
}
@media (min-width: 1200px) {
    .communityUpdateSection img {
        height: 342px;
        

    }
}
.imageBox {
    position: relative;
    /* border-radius: 5px; */
    overflow: hidden;

}
.imageBox a.hoverImage, .imageBox a.hoverImage img{
    height: 342px;
}

.bottomDiv {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.bottomDiv span {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background: #6C7C57;
    border-radius: 4px;
    padding: 1px 8px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.bottomDiv h3 {
       color: #fff;
       margin: 10px 0 15px;
       font-size: 20px;
}

.bottomDiv a {
        width: max-content;
        font-size: 14px;
        min-width: auto;
}

@media (max-width:768px) {
    .bottomDiv h3 {
        font-size: 30px;
    }

}

@media (max-width:767px) {
    .imageBox {
        margin-bottom: 1rem !important;

    }

    .bottomDiv h3 {
        font-size: 24px;
    }

    .imageBox img {
        width: 100%;
        min-height: 200px;
    }
}

.imageBox:hover img {
    transform: scale(1.05);
}
.sectionTitle {
    font-weight: 900;
    font-size: 34px;
    line-height: 100%;
}
