@font-face {
    font-family: 'Arctic Fox';
    src: url('ArcticFox-Bold.woff2') format('woff2'),
        url('ArcticFox-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arctic Fox';
    src: url('ArcticFox-Italic.woff2') format('woff2'),
        url('ArcticFox-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arctic Fox';
    src: url('ArcticFox-Regular.woff2') format('woff2'),
        url('ArcticFox-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arctic Fox Headline';
    src: url('ArcticFox-Headline.woff2') format('woff2'),
        url('ArcticFox-Headline.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

